

.monster-container {
    display: flex;
    width: 500px;
    height: 431px;
    left: 170px;
    top: 243px;

    background: #F1F8FF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.monster-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-text {
    font-family: HK Grotesk B;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 99.5%;
    /* identical to box height, or 80px */
    color: #333333;
    margin-bottom: 10px;
    margin-top: 10px;
}